[buildout]
extensions = mr.developer
auto-checkout = *
always-checkout = true
develop = .
find-links =
    http://op:x9W3jZ@dist.quintagroup.com/op/

index = https://pypi.python.org/simple

parts =
    scripts

[scripts]
recipe = zc.recipe.egg
eggs =
    op_robot_tests
    openprocurement_client
    restkit
    robotframework
    robotframework-lint
    robotframework-debuglibrary
    robot_tests.broker.etender

interpreter = python_interpreter
# The following piece of code changes the default output format of Munch
# for Munch-to-str conversion and for generation of so-called repr.
#
# As a result, Robot Framework records pretty human-readable (YAML) data in its
# log files instead of ugly piles of Munch(data=Munch(foo=Munch(...))).
#
# Original idea: https://github.com/Infinidat/munch/blob/2.0.4/README.md#serialization
initialization =
    from munch import Munch
    Munch.__str__ = lambda self: Munch.toYAML(self, allow_unicode=True,
                                              default_flow_style=False).decode('utf-8')
    Munch.__repr__ = Munch.__str__

[remotes]
gh = git://github.com/
gh_push = git@github.com:

[sources]
barbecue                         = git ${remotes:gh}openprocurement/barbecue.git
openprocurement_client           = git ${remotes:gh}openprocurement/openprocurement.client.python.git  branch=use_requests
robot_tests.broker.etender       = git ${remotes:gh}utechenko-v/robot_tests.broker.etender.git  branch=for-teamcity

[versions]
Faker = 0.7.7
mr.developer = 1.34
restkit = 4.2.2.op1
rfc6266 = 0.0.6.op1
robotframework = 3.0.0
robotframework-debuglibrary = 0.8
robotframework-lint = 0.7
robotframework-selenium2library = 1.8.0
setuptools = 18.3.2
zc.buildout = 2.5.3
zc.recipe.egg = 2.0.3
